<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User (ID: {{ user.id }})</h1>

    <form action="/update-user/{{ user.id }}" method="post" enctype="multipart/form-data">
        New Name: <input type="text" name="name" value="{{ user.name }}" required><br><br>
        New Face Image (optional): <input type="file" name="file" accept="image/*"><br><br>
        <button type="submit">Update</button>
    </form>

    <br>
    <a href="/users">Back to User List</a>
</body>
</html>
